.dart_tool/
.dockerignore
.git/
.github/
.gitignore
.idea/
.packages

**/.idea
**/.dart_tool
**/.dart_tool/
**/.dockerignore
**/.git/
**/.github/
**/.gitignore
**/.idea/
build/
**/test*
**/teste*
**/*.pdf
**/firebase.json
**/*.key
**/*.pfx
**/*.p7b
**/*.rsa
**/*.rules
**/*.json
**/*.log
**/*.md
**/*.sh
**/*.proto
**/ios
**/android
**/windows
**/macos
**/linux
**/scripts
**/node_modules
**/build
**/node_functions
**/exemple?
**/*.commands
**/*.exe
**/*.pyc
src/wokwi/.pio
src/wokwi/.vscode
*.pyc
__pycache__/
.idea
.vscode
*.log
*.db
.venv
venv
.terraform
*.pem
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.env-docker